<img width="100%" src="http://www.jcmagazine.com/wp-content/uploads/2015/04/caballito-de-totora-660x330.jpg">
<footer class="footer">
<div class="container">
<p>&copy; 2016 - Ministerio de la Producción</p>
</div>
</footer>